[Desktop Entry]
Type=Application
Name=Bing Points Bot
Exec=python /usr/share/bing_points/main.py
Terminal=true
Icon=utilities-terminal
Categories=Utility;