[Desktop Entry]
Type=Application
Name=Bing Points Bot
Exec=/usr/share/bing_points/bing_points.sh
Terminal=false
Icon=utilities-terminal
Categories=Utility;